<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Upload Files', new_post_file_upload_path(@post) %>

<h5>Files</h5>

<ul>
  <% @post.files.each do |file| %>
    <li>
      <%= link_to file.blob.filename, url_for(filename) %>
      <%= link_to '<i class="fa fa-trash"></i>'.html_safe, post_file_upload_path(@post, file), method: :delete, data: { confirm: "Tem certeza?" } %>
    </li>
    <% end %>
</ul>

